.menu_item_container {  
  position: relative;
  width: fit-content;

  
  .menu_item_wrapper {
    width: 240px;
    height: calc(100vh - 50px);
    background-color: white;
    box-shadow: 1px 0 rgba(3, 10, 21, 0.078);
    overflow-y: auto;
    overflow-x: hidden;
    transition: width 0.3s ease;
    
    &.menu-shorter {
      width: 70px;
      transition: width 0.4s ease;

      & .menu-lv1 {
        & .menu-item {
          img {
            margin-right : 0
          }

          span {
            margin-right: 0;
          }
        }
      }
    }

    &.menu-shortest {
      width: 20px;  
      transition: width 0.4s ease;
      scrollbar-width: none;


      .btn-wide {
        span {
          transform: rotate(0deg);
        }
      }
    }

    &.menu-showing {
      width: 240px;

      .btn-wide {
        span {
          transform: rotate(0deg);
        }
      }
      
    }

    .outside_item {
      .menu-lv1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-size: 14px;

        .icon {
          display: flex;
          flex: 1;
          width: 20px;
          height: 20px;
          cursor: pointer;
          fill: currentColor;

          img {
            margin-right: 10px;
          }

          .custom-icon {
            color:#4f4f4f;
            font-size: 20px;
            align-self: center;
            margin-right: 10px;

            & img {
              filter: grayscale(100%)
            }
          }


          .content {
            font-size: 14px; 
            color:#42526e;
            font-weight: 400;  
          }
        }
       

        .shorter-icon {
          font-size: 14px;
          display: inline-block;
          
        }

        span {
          transition: opacity 0.3s ease;
        }

        & .mat-icon {
          display: flex;
          flex-direction: column;
          align-items: center;
          line-height: 1.3;
        }

        &:hover {
          background-color: #f5f5f5;
        }

        &.active-parent {
          color: #0053b3;

          .custom-icon {
            color:#0053b3;
          }

          .content {
            color:#0053b3;
          }

          img {
            filter: invert(25%) sepia(100%) saturate(500%) hue-rotate(180deg); 
          }
          

          & .mat-icon {
            color: #42526e;
          }
        }
      }

      .menu-lv2 {
        display: flex;
        flex-direction: column;
        padding-left: 18px;
        background-color: white;
        font-size: 14px;

        .icon {
          display: flex;
          flex: 1;
          width: 20px;
          height: 20px;
          cursor: pointer;
          fill: currentColor;

          img {
            margin-right: 10px;
          }


          .content {
            font-size: 14px; 
            color:#42526e;
            font-weight: 400;  
          }
        }

      }

      .menu-item-child {
        position: relative;
        padding: 13px 15px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &::before {
          content: '';
          position: absolute;
          left: 3px;
          top: 0;
          bottom: 0;
          width: 2.5px;
          height: 0%;
          align-self: center;
          background-color: #dbdbdb;
          // transition: height 0.3s ease;
        }

        &:hover {
          background-color: #f5f5f5;

          &::before {
            height: 80%; 
            background-color: #dbdbdb;
          }
        }

        &.active-child {
          color: #0053b3;

          .custom-icon {
            color: #0053b3;
          }

          .content {
            color: #0053b3;
          }

          img {
            filter: invert(25%) sepia(100%) saturate(500%) hue-rotate(180deg); 
          }

          &::before {
            height: 80%;
            background-color: #0053b3;
          }
        }
      }
    }

    .btn-wide {
      position: absolute;
      top:15px;
      right:-12px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: white;
      color: #6b778c;
      box-shadow: #091e4214 0 0 0 1px,#091e4214 0 1px 1px 1px;

      & span {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: rotate(180deg);
        transition: all 0.4s ease-in-out;
      }

      &:hover {
        background: #0053b3;
        color: white;
        cursor: pointer;
      }

      
    }

    .menu-item {
      display: flex;
      height: 20px;

      img {
        margin-right: 10px;

        // svg {
        //   filter: invert(25%) sepia(100%) saturate(500%) hue-rotate(180deg); /* Tạo hiệu ứng màu */
        // }
      }

      
      .custom-icon {
        color:#4f4f4f;
        font-size: 20px;
        align-self: center;
        margin-right: 10px;
      }
    }
  }
}
