<div 
  class="menu_item_container" 
  (mouseover)="isMenuShortest && showMenu()" 
  (mouseout)="isMenuShortest && hideMenu()">
  <div 
    class="menu_item_wrapper" 
    [ngClass]="{
      'menu-shorter': isMenuShorter && !isMenuShortest,
      'menu-shortest': isMenuShortest && !isShowed,
      'menu-showing': isMenuShortest && isShowed
    }">
    <div class="outside_item" *ngFor="let item of menuItems">
      <!--  -->
      <div 
        class="menu-lv1" 
        (click)="toggleMenu(item)" 
        [ngClass]="{ 'active-parent': isParentSelected(item) }">

        <a [routerLink]="item.route" *ngIf="!isMenuShorter">
          <img [src]="item.icon" /> {{ item.text }}
        </a>

        <a [routerLink]="item.route" *ngIf="isMenuShorter && !isMenuShortest" class="shorter-icon">
          <img [src]="item.icon"/>
        </a>

        <a [routerLink]="item.route" *ngIf="isMenuShortest" class="shorter-icon">
          <img [src]="item.icon" />
        </a>

        <span *ngIf="item.children" class="icon-arrow">
          <mat-icon *ngIf="!item.open" fontIcon="keyboard_arrow_down" style="font-size: 1.25rem;"></mat-icon>
          <mat-icon *ngIf="item.open" fontIcon="keyboard_arrow_up" style="font-size: 1.25rem;"></mat-icon>
        </span>
      </div>
      <!--  -->
      <div 
        class="menu-lv2" 
        *ngIf="item.children && item.open">
        <div 
          class="menu-item-child" 
          *ngFor="let child of item.children" 
          (click)="selectChild(child, item)" 
          [ngClass]="{ 'active-child': isChildSelected(child) }"
          [ngClass]="{ 
            'menu-shorter': isMenuShorter,
            'menu-shortest': isMenuShortest  
          }">
          <span *ngIf="!isMenuShorter">
            {{ child.icon }}  {{ child.text }}
          </span>
          <span *ngIf="isMenuShorter && !isMenuShortest" class="shorter-icon">
            {{ child.icon }}
          </span>
          <span *ngIf="isMenuShortest" class="shorter-icon">
            {{ child.icon }}
          </span>
        </div>
      </div>
    </div>
    <div class="btn-wide">
        <span 
          class="btn-wide-align"
          (click)="shortingBTN()"
          (mouseover)="stopBTN($event)">
          <!-- <mat-icon fontIcon="keyboard_arrow_left" style="font-size: 1.25rem;"></mat-icon> -->
          <svg width="100%" height="100%" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
            <path d="M10.294 9.698a.988.988 0 0 1 0-1.407 1.01 1.01 0 0 1 1.419 0l2.965 2.94a1.09 1.09 0 0 1 0 1.548l-2.955 2.93a1.01 1.01 0 0 1-1.42 0 .988.988 0 0 1 0-1.407l2.318-2.297-2.327-2.307z" fill="currentColor"></path>
          </svg>
        </span>
    </div>
  </div>
</div>
